{% extends 'base.html.twig' %}

{% block title %}Ajout d'un film{% endblock %}

{% block body %}
    {# Inclusion de header #}
    {% include 'header.html.twig' with {
        'valeur': 'Ajout d\'un film'} 
    %}

    <div class="row align-items-center">
        <div class="col">
            Formulaire (en une seule ligne):    
            {{form_errors(formulaireAjoutFilm)}}        
            {{ form(formulaireAjoutFilm) }}
        </div>
    </div>
    <br>
    <div class="row align-items-center">
        <div class="col">
            <a href="{{ path('Movie_List') }}" class="btn btn-success">Retour à la liste des films</a>
        </div>
    </div>
{% endblock %}