<h1>LOGO</h1>

<h2>{{ valeur }}</h2>

<a href="{{ path('Movie_Add') }}" title="ajouter un film" class="btn btn-primary">Ajouter un film</a>
<a href="{{ path('Movie_List')}}" title="Liste des films" class="btn btn-primary">Liste des films</a>