{% extends 'base.html.twig' %}

{% block title %}SiteMap{% endblock %}

{% block body %}
    <div class="row ">
        <div class="col">
            <h1>Sitemap</h1>

            {# route_paths fait appel directement au Helper définit dans twig.yaml #}
            {# on peut alors faire appel à ses méthodes qui commencent par get... comme getRoutes() en faisant route.paths.routes #}
            {% for route_name, route_path in route_paths.routes %}
                {# {{ dump(route_name, route_path) }} #}
                <a href="{{route_path}}" alt="Route vers: {{route_name}}">{{route_name}}</a>
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
